.square {
    width: 25px;
    height: 25px;
    @media screen and (max-width: 480px) {
        width: 16.25px;
        height: 16.25px;
    }
}

.fill {
    z-index: 5;
    background-color: black !important;
    border-radius: 7px;
    @media screen and (max-width: 480px) {
        border-radius: 4px;
    }
}

.food {
    width: 100%;
    position: relative;
    .rectOne {
        width: 8px;
        height: 22px;
        background-color: black;
        position: absolute;
        margin-left: 8.5px;
        margin-top: 1.5px;
        border-radius: 2px;
        @media screen and (max-width: 480px) {
            width: 5.2px;
            height: 14.3px;
            margin-left: 5.525px;
            margin-top: 0.975px;
            border-radius: 1.3px;
        }
    }
    .rectTwo {
        width: 22px;
        height: 8px;
        background-color: black;
        position: absolute;
        margin-top: 8.5px;
        margin-left: 1.5px;
        border-radius: 2px;
        @media screen and (max-width: 480px) {
            height: 5.2px;
            width: 14.3px;
            margin-top: 5.525px;
            margin-left: 0.975px;
            border-radius: 1.3px;
        }
    }
    .rectThree {
        position: absolute;
        background-color: #C0C905;
        height: 8px;
        width: 8px;
        margin-left: 8.5px;
        margin-top: 8.5px;
        border-radius: 1px;
        @media screen and (max-width: 480px) {
            width: 5.2px;
            height: 5.2px;
            margin-left: 5.525px;
            margin-top:  5.525px;
            border-radius: 0.65px;
        }
    }
    .black {
        background-color: black !important;
    }
}